/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

/* Root element (aka html) */
:root {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* CSS Variables */
  /* Fonts */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: #7c7c7c;
  padding: 0px 40px;
}

/* .active {
  color: #fc036b;
  border-radius: 20px;
  background: whitesmoke;
  font-weight: bold;
} */

body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #7c7c7c;

  background-repeat: no-repeat;
  background-size: cover;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.container {
  width: 98%;
  max-width: 91rem;
  margin: 0 auto;
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
  z-index: 10;
  color: whitesmoke;
}

.logo {
  font-family: var(--ff-rubik-dirt);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0 1.2rem;
  font-weight: 300;
  color: #c4ddff;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  font-family: var(--ff-montserrat);
  margin: 0px 15px;
}

.nav-links li a {
  color: #fee2c5;
  cursor: pointer;
}

.cir_border {
  padding: 6px 20px;
  font-weight: bold;
  border: 2px hidden #c4ddff;
  border-radius: 20px;
  margin: 0px -10px;
}
.cir_border:hover {
  color: #fee2c59f;
}
.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}
.active {
  border: 2px solid #c4ddff;
  border-radius: 20px;
  cursor: pointer;
}
header {
  background-image: url("/Arti-Zen/frontend/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
}
.header-content {
  letter-spacing: 0.5rem;
  color: whitesmoke;
  text-align: center;
  padding: 10rem;
  margin-bottom: 0px;
}
#quote {
  position: relative;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(45deg, #001d6e, #c4ddff, #001d6e);
  background-repeat: no-repeat;
  animation: animate 8s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  backdrop-filter: saturate(180%) blur(4px);
  width: 800px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
.artizenlogo {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0 auto;
}

/* footer */
footer {
  background-color: #c4ddffc7;
  color: #fee2c5;
  padding: 30px;
  font-family: var(--ff-montserrat);
  margin-top: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin: 0 10px;
  padding-bottom: 10px;
}

.col h3 {
  margin-bottom: 20px;
}

.col ul {
  list-style: none;
  padding: 0;
}

.col ul li {
  margin-bottom: 10px;
}

.col ul li a {
  color: #fff;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #fff;
}

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.unique {
  padding: 450px;
  background-image: url("/Arti-Zen/frontend/assets/bg2.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
}
