/* Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Montserrat:wght@400;800&family=Parisienne&family=Roboto&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");

/* Root element (aka html) */
:root {
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* CSS Variables */
  /* Fonts */
  --ff-parisienne: "Parisienne", cursive;
  --ff-montserrat: "Montserrat", sans-serif;
  --ff-lora: "Lora", serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-rubik-dirt: "Rubik Dirt", cursive;
  --fs-paragraphs: calc(0.8rem + 0.35vw);
  --fs-links-btns: calc(0.65rem + 0.5vw);
}

/* Global */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

span {
  color: #7c7c7c;
  padding: 0px 40px;
}


body,
html {
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #7c7c7c;

  background-repeat: no-repeat;
  background-size: cover;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

.container {
  width: 98%;
  max-width: 91rem;
  margin: 0 auto;
}

/*scrollbar*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

body {
  margin: 0;
  background: url(../../assets/order\ page\ background.jpg) center center / cover no-repeat;
  ;
  height: 100vh;

}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 12px 5px;
  z-index: 10;
  color: whitesmoke;
}

.logo {
  font-family: var(--ff-rubik-dirt);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  padding: 0 1.2rem;
  font-weight: 300;
  color: #c4ddff;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links li {
  font-family: var(--ff-montserrat);
  margin: 0px 15px;
}

.nav-links li a {
  color: #fee2c5;
  cursor: pointer;
}

.cir_border {
  padding: 6px 20px;
  font-weight: bold;
  border: 2px hidden #c4ddff;
  border-radius: 20px;
  margin: 0px -10px;
}
.cir_border:hover {
  color: #fee2c59f;
}
.menu-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
}
.cir_border:active {
  border: 2px solid #c4ddff;
  border-radius: 20px;
  cursor: pointer;
}
/*section*/
section {
  position: relative;
  top: 130px;
  left: 0;
  width: 90vw;

  background-color: burlywood;
  margin: auto;
  margin-top: 0;
  display: flex;
  background: rgba(242, 237, 232, 0.4);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: rgba(24, 24, 24, 0.15) 0px 0px 24px;
  border: 1px solid rgba(24, 24, 24, 0.2);
  padding: 40px;
  padding-top: 0;

  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
header {
    margin-top: 5%;
    margin-bottom: 6%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
header > h1{
    font-size: 50px;
    margin-bottom: 1%;
    font-weight: 400;
  }
header > p {
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
  }
#products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #fff;
  color: #697e91;
  max-width: 300px;
}

.plan strong {
  font-weight: 600;
  color: #425275;
}

.plan .inner {
  align-items: center;
  padding: 20px;
  padding-top: 40px;
  background-color: #ecf0ff;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #bed6fb;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1.25rem;
  font-weight: 600;
  color: #425475;
}

.plan .pricing small {
  color: #707a91;
  font-size: 0.75em;
  margin-left: 0.25em;
}

.plan .title {
  margin-top:10px;
  font-weight: 600;
  font-size: 1.25rem;
  color: #425675;
}

.plan .title + * {
  margin-top: 0.75rem;
}

.plan .info + * {
  margin-top: 1rem;
}

.plan .features {
  display: flex;
  flex-direction: column;
}

.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan .features li + * {
  margin-top: 0.75rem;
}

.plan .features .icon {
  background-color: #1FCAC5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.plan .features .icon svg {
  width: 14px;
  height: 14px;
}

.plan .features + * {
  margin-top: 1.25rem;
}

.plan .action {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.plan .button {
  background-color: rgba(160, 133, 89,0.85);
  border-radius: 6px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  text-align: center;
  border: 0;
  outline: 0;
  width: 100%;
  padding: 0.625em 0.75em;
  text-decoration: none;
}

.plan .button:hover, .plan .button:focus {
  background-color: rgba(160, 133, 89,0.95);
}


/* footer */
footer {
  border-top: 1px dashed;
  background-color: rgb(242, 237, 232);
  opacity: 0.85;
  color: rgb(87, 80, 80);
  padding: 30px;
  font-family: var(--ff-montserrat);
  margin-top: auto;
  position: relative;
  bottom: -200px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 1;
  margin: 0 10px;
  padding-bottom: 10px;
}

.col h3 {
  margin-bottom: 20px;
}

.col ul {
  list-style: none;
  padding: 0;
}

.col ul li {
  margin-bottom: 10px;
}

.col ul li a {
  color: #fff;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid rgb(87, 80, 80);
}

p {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.error{
  display: block;
  margin-bottom: 2%;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 15px;
  color: rgba(255, 0, 0, 0.7);
}